$darkpurple: #0A0029;
$grey: #BFBBBA;
$pink: #F3678C;
$magenta: #4F32A7;
$offWhite: #F9F8F4;
$lightGrey: #dadde2;
$darkGrey: #828d9d;
$grid-columns: 12;
$grid-max-width: 1200px;
$breakpoint-small: "only screen and (min-width: 0px)";
$breakpoint-medium: "only screen and (min-width: 760px)";
$breakpoint-large: "only screen and (min-width: 1000px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
